body {
  font-family: Georgia, serif;
  background-color: rgb(159, 159, 167);
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.allCards {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.singleCard {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: rgb(125, 166, 213);
  border: dashed;
  position: relative;
  transition: transform 0.3s; 
}
